.craft {
    float: left;
    display: inline-block;
}

#craft-iss {
    color: black;
}

#craft-tiangong {
    background-color: red;
    color: yellow;
}

#spacetrack {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 60vh;
}

.astro {
    --distance: 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
    will-change: transform;
    transition-duration: .6s;
    transition-timing-function: ease-in-out;
    transition-delay: .2s;
}

.astro.flying {
    transform: translateY(calc(-1 * var(--distance) * 60vh));
}

pre {
    display: block;
}

.astro__image {
    width: 60px;
    height: auto;
}

.hidden {
    display: none;
}